<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.playgroundberlin.berta.insomnia" version="0.0.1">
    <name>Insomnia</name>
    <description>Cordova Insomnia Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,sleep,awake,insomnia</keywords>
    <repo>https://github.com/playgroundberlin/Berta</repo>
    <issue>https://github.com/playgroundberlin/Berta/issues</issue>

    <js-module src="www/Insomnia.js" name="Insomnia">
        <clobbers target="window.Insomnia" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
        </config-file>

        <source-file src="src/android/Insomnia.java" target-dir="src/com/playgroundberlin/berta/insomnia" />
    </platform>
</plugin>
