body, html { 
    background-color: #000; 
    color:white;
    min-height: 100% !important;
    height:100%;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'BertaFont';
    src: url('../fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited { 
    color:white; 
    text-decoration:underline; 
}

#canvas {
	position: relative;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px;
}

#textdiv {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-family:"BertaFont", sans-serif;
    color: #CCC; 
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 0 auto;
}

#meters {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-family:"BertaFont", sans-serif;
    color: #CCC; 
    font-size: 100px;
    text-transform: uppercase;
    margin: 0 auto;
}

#page {
	width:100%;
	height:100%;
	display: table;
}

#debug {
        font-size: 16px;
}

div.tab {
    margin-top: 5px;
    padding-top: 5px;
    width: 120px;
    float: left;
}

#pointerdiv {
    /* display: none; */
    float: left;
}